/* Configure an element to be animated */
#animated-shape { 
   background:rgb(175, 133, 200);
   width:200px;
   height:200px;
   /*  Sub-properties to attach an animation */
   animation-name: colorchange-alt;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }
 /*  STEP 2: Define an animation sequencec */
  @keyframes colorchange {
    from {background: rgb(175, 133, 200); }
    to {background:rgb(122, 225, 192); }

  }
  @keyframes colorchange-alt {
    0% { background:rgb(175, 133, 200);}
    50% { 
        background: rgb(122, 225, 192); 
        transform:scale(0.5)
    }
    100% { background: rgb(175, 133, 200);}
  }



.box {
    background: rgb(99, 184, 240);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that has functional values like f(x) to change an element*/

#rotate {
    transform:rotate(-15deg);
}
/* scale(1) is the original size
    less than 1 makes it smaller greater then 1 makes it bigger */
#scale {
    transform:scale(0.5);
}

#skew {
   transform:skew(-45deg);
}
/* translate(x) moves to the right (if x is positive) 
translate(x,y) moves diagonally
translate(0,y) moves down (meaning only along Y axis)
*/
#translate {
    transform: translate(50px, -10px);
}
/* you can chain multiple transforms on the same element */
#chain {
    transform:rotate(30deg) skew(-10deg);
}
