.box {
    background: rgb(99, 184, 240);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that has functional values like f(x) to change an element*/

#rotate {
    transform:rotate(-15deg);
}
/* scale(1) is the original size
    less than 1 makes it smaller greater then 1 makes it bigger */
#scale {
    transform:scale(0.5);
}

#skew {
   transform:skew(-45deg);
}
/* translate(x) moves to the right (if x is positive) 
translate(x,y) moves diagonally
translate(0,y) moves down (meaning only along Y axis)
*/
#translate {
    transform: translate(50px, -10px);
}
/* you can chain multiple transforms on the same element */
#chain {
    transform:rotate(30deg) skew(-10deg);
}